/* -------- Bootstrap customizations -----------------------------
----------------------------------------------------------------- */

// Bootstrap Version is 3.3.3
// It will be updated to 4.0 soon.

.jumbotron {
     top: 55px;
     width: 100%;
     color: #333;
     text-align: center;
     background: #fff;
}
