/* Buttons ---------------------------------------------------
-------------------------------------------------------------- */
.cws-top-btn {
    display: inline-block;
    width: 160px;
    height: 54px;
    line-height: 54px;
    border-bottom: solid 3px #37BC9B;
    border-radius: 5px;
    background: #48cfad;
    color: #fff;
    text-align: center;
    outline: none;
}
.cws-top-btn:hover {
    color: #fff;
}


.cws-btn {
    display: inline-block;
    width: 180px;
    height: 54px;
    border: solid 3px #48CFAD;
    border-radius: 4px;
    background: none;
    color: #fff;
    line-height: 48px;
    font-size: 16px;
    text-align: center;
    outline: none;
}
.cws-btn,
.cws-btn::before,
.cws-btn::after {
    transition: all .3s;
    -webkit-transition: all .3s;
}
.cws-btn:hover {
    background: #f9f9f9;
}
