/* ---- Commons styles ---------------------------------------------
------------------------------------------------------------------ */

* {
  font-family: 'Open Sans', sans-serif;
}

a,
a:hover,
a:active,
a:visited,
a:link {
     text-decoration: none;
}

body {
     background: $bg-color;
}
