/*----- CWS Panels ----------------------------------------
--------------------------------------------------------------- */
.cws-panel {
    text-align: center;
}
.cws-panel-title {
    padding: inherit;
}
.cws-panel-text {
    font-size: 17px;
    text-align: left;
}
.panel-img {
    margin: 20px;
}
.panel-blank {
    height: 50px;
}
