/* --- Headers --------------------------------------------------
--------------------------------------------------------------- */
.header-logo {
    color: #ED5565;
    font-size: 180px;
}
.header-deal {
    font-family: 'Comfortaa', sans-serif;
    padding: 7px;
}
.header-sub-deal {
    padding: 5px;
}
