/* ---- Navigation Bars ----------------------------------------------
-------------------------------------------------------------------- */
.Bar {
    height: 71px;
    line-height: 71px;
    width: 100%;
    background: rgb(255, 255, 255);
}
.BarSub {
    height: 35px;
}
.BarColor_scrolled {
    background: #48CFAD;
}
.BarLogo {
    color: #ED5565;
    top: 9px;
    font-size: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
