






/* --- Windows -------------------------------------------- */



.visible {
    display: block;
}



/* Small UI Elm ---------------------- */
.navTopBlank {
    position: absolute;
    top: 0;
    z-index: -1;
    height: 40px;
    background: #fff;
}

.copyright {
    color: #333;
    text-align: center;
}

/* Animations ------------------------- */
