/* ------ Social Links ---------------------------------------
----------------------------------------------------------- */
.social-link-ul {
    text-align: center;
    width: 100%;
}
.social-link-li {
    vertical-align: middle;
}
.social-link-a {
    height: 60px;
    text-align: center;
    line-height: 50px;
    padding: 20px;
    /*margin: 10px 10px 10px 10px;*/
    color: #f9f9f9;
    font-size: 50px;
}
