header
  container.text-center
    font(color="white")
      h1
        i.fa.fa-code.fa-5x
         
      h1 Development 
      p
       | Join us! Develop Creampuff together.
         
      br
      br
      br