head
    meta(charset="utf-8")
    title Creampuff
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="keywords" content="Desktop, Shell, Linux")
    meta(name="description" content="Creampuff is the new desktop environment for Linux or Unix based operating system.")

    link(rel="shortcut icon" href="//creampuff.github.io/assets/img/logo.png")

    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
    link(rel="stylesheet" href="//creampuff.github.io/assets/css/cdws.css")