nav.navbar.navbar-default(role="navigation")
     .container
       .navbar-header
          button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
             span.sr-only Toggle navigation
             span.icon-bar
             span.icon-bar
             span.icon-bar
          a.navbar-brand(href="index.html") Creampuff
       .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.nav-link(href="features.html") Features
            li
              a.nav-link(href="news.html") News
            li
              a.nav-link(href="development.html") Development
            li
              a.nav-link(href="http://github.com/Creampuff")
                i.fa.fa-github.fa-lg
            li
              a.nav-link(href="http://twitter.com/Creampuff_Team/")
                i.fa.fa-twitter.fa-lg