doctype html
html
    include _head.jade
 body 
   include _noscript.jade
   include _navbar.jade
   include _notice_common.jade

 
   include contents/_news_contents.jade
 


   include _javascripts.jade
   include _analytics.jade