*{font-family:'Open Sans', sans-serif;}
a,
a:hover,
a:active,
a:visited,
a:link{text-decoration:none;}
body{background:#fafbfc;}
.jumbotron{top:55px;color:#333;text-align:center;background:#fafbfc;}
nav{z-index:3;display:inline-block;position:fixed;height:55px;width:100%;background-color:#fff;box-shadow:0px 3px 3px -2px rgba(0,0,0,0.6);-webkit-box-shadow:0px 3px 3px -2px rgba(0,0,0,0.6);-moz-box-shadow:0px 9px 3px -3px rgba(0,0,0,0.6);opacity:0.35;top:0;}
.nav-menu{display:none;height:100%;width:100%;animation:openNav 0.3s ease;-moz-animation:openNav 0.3s ease;-webkit-animation:openNav 0.3s ease;}
li{float:left;list-style:none;}
.nav-blank{top:0;background:#fff;opacity:0.95;height:55px;}
.nav-trig,
.nav-trig span{display:inline-block;transition:all .4s;box-sizing:border-box;}
.nav-trig{top:17px;margin-left:30px;position:fixed;width:28px;height:22px;}
.nav-trig span{position:absolute;left:0;width:100%;height:9%;background:#333;border-radius:3px;z-index:5;}
.nav-trig span:nth-of-type(1){top:0;}
.nav-trig span:nth-of-type(2){top:45%;}
.nav-trig span:nth-of-type(3){bottom:0;}
.nav-trig.active{-webkit-transform:rotate(90deg);transform:rotate(90deg);}
.cws-top-btn{display:inline-block;width:160px;height:54px;line-height:54px;border-bottom:solid 3px #37BC9B;border-radius:5px;background:#48cfad;color:#fff;text-align:center;outline:none;}
.cws-btn{display:inline-block;width:180px;height:54px;border:solid 3px #48CFAD;border-radius:4px;background:none;color:#fff;line-height:48px;font-size:16px;text-align:center;outline:none;}
.cws-btn,
.cws-btn::before,
.cws-btn::after{transition:all .3s;-webkit-transition:all .3s;}
.cws-btn,
.cws-btn:hover{color:;background:#f9f9f9;}
.btn-select-lang{border:none;outline:none;background:none;appearance:none;-webkit-appearance:none;-moz-appearance:none;color:#fff;}
.cws-panel{text-align:center;color:;}
.cws-panel-title{padding:inherit;}
.cws-panel-text{font-size:17px;text-align:center;}
.panel-img{margin:20px;}
.social-link-ul{text-align:center;width:100%;}
.social-link-li{vertical-align:middle;}
.social-link-a{height:60px;text-align:center;line-height:50px;padding:20px;color:#f9f9f9;font-size:50px;}
.header-logo{color:#ED5565;font-size:180px;}
.header-deal{font-family:'Comfortaa', sans-serif;padding:7px;}
.header-sub-deal{padding:5px;}
.win{position:fixed;text-align:center;top:100px;z-index:5;margin-left:30%;margin-right:30%;display:none;width:40%;height:65%;color:#333;background:#fff;border:solid 2px rgba(#757575, 0.83);border-radius:7px;}
.win-content{padding:30px 10px;}
@media screen and (max-width:480px){.win{width:90%;margin-left:5%;margin-right:5%;}
.win h1{font-size:30px;}
}
.visible{display:block;}
