/* ---- Commons styles ---------------------------------------------
------------------------------------------------------------------ */

* {
  font-family: 'Open Sans', sans-serif;
}

a,
a:hover,
a:active,
a:visited,
a:link {
     text-decoration: none;
}

body {
     background: #fafbfc;
}




/* -------- Bootstrap customizations ------------------------- */
.jumbotron {
     top: 55px;
     width: 100%;
     color: #333;
     text-align: center;
     background: #fff;
}





/* Nav Bar ------------------------------------------------------------------------------------------------------------------------ */
.Bar {
    height: 71px;
    line-height: 71px;
    width: 100%;
    background: rgb(255, 255, 255);
}
.BarSub {
    height: 35px;
}
.BarColor_scrolled {
    background: #48CFAD;
}
.BarLogo {
    color: #ED5565;
    top: 9px;
    font-size: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}




/* Buttons ---------------------------------------------------
-------------------------------------------------------------- */
.cws-top-btn {
    display: inline-block;
    width: 160px;
    height: 54px;
    line-height: 54px;
    border-bottom: solid 3px #37BC9B;
    border-radius: 5px;
    background: #48cfad;
    color: #fff;
    text-align: center;
    outline: none;
}
.cws-top-btn:hover {
    color: #fff;
}


.cws-btn {
    display: inline-block;
    width: 180px;
    height: 54px;
    border: solid 3px #48CFAD;
    border-radius: 4px;
    background: none;
    color: #fff;
    line-height: 48px;
    font-size: 16px;
    text-align: center;
    outline: none;
}
.cws-btn,
.cws-btn::before,
.cws-btn::after {
    transition: all .3s;
    -webkit-transition: all .3s;
}
.cws-btn:hover {
    background: #f9f9f9;
}




/*----- CWS Panels ----------------------------------------
--------------------------------------------------------------- */
.cws-panel {
    text-align: center;
}
.cws-panel-title {
    padding: inherit;
}
.cws-panel-text {
    font-size: 17px;
    text-align: left;
}
.panel-img {
    margin: 20px;
}
.panel-blank {
    height: 50px;
}



/* ------ Social Links ---------------------------------------
----------------------------------------------------------- */
.social-link-ul {
    text-align: center;
    width: 100%;
}
.social-link-li {
    vertical-align: middle;
}
.social-link-a {
    height: 60px;
    text-align: center;
    line-height: 50px;
    padding: 20px;
    /*margin: 10px 10px 10px 10px;*/
    color: #f9f9f9;
    font-size: 50px;
}



/* --- Headers --------------------------------------------------
--------------------------------------------------------------- */
.header-logo {
    color: #ED5565;
    font-size: 180px;
}
.header-deal {
    font-family: 'Comfortaa', sans-serif;
    padding: 7px;
}
.header-sub-deal {
    padding: 5px;
}



/* --- Windows -------------------------------------------- */



.visible {
    display: block;
}



/* Small UI Elm ---------------------- */
.navTopBlank {
    position: absolute;
    top: 0;
    z-index: -1;
    height: 40px;
    background: #fff;
}

.copyright {
    color: #333;
    text-align: center;
}

/* Animations ------------------------- */
